<h2 style="text-align:center;">DAILY LABOUR REPORT</h2>

<div style="overflow-x:auto;">
<table border="1" width="100%" cellspacing="0" cellpadding="5" style="border-collapse:collapse; min-width:600px;">

<tr style="background:#d3e2f2; color:rgba(12, 12, 12, 0.975);">
<th>SL NO</th>
<th>SITE</th>
<th>LABOUR TYPE</th>
<th>NOS</th>
<th>REMARKS</th>
</tr>

{% for key, rows in reports.items %}

    {% for r in rows %}
    <tr>

        {% if forloop.first %}
        <td rowspan="{{ rows|length }}">{{ key.0 }}</td>
        <td rowspan="{{ rows|length }}">{{ key.1 }}</td>
        {% endif %}

        <td>{{ r.labour_type }}</td>
        <td>{{ r.nos }}</td>
        <td>{{ r.remarks }}</td>

    </tr>
    {% endfor %}

{% endfor %}

</table>
</div>